.main{
    border: 1px solid red;
    width: 700px;
    height: 100px;
}
.top{
    margin-left: 522px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 20px ;
}
.bottom{
    margin-top: 700px ;
    margin-left: 522px;
    padding: 1%;
}