/*h1{
    color: purple;
    text-align: center;
    text-decoration: underline;
}*/
#logo{
    color: red;
    text-align: center;
    text-decoration: underline;
}
.mob{
    color: sandybrown;
}   
.mobiles{
    color: #547626;
}